<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-info">
        <ul class="mb-0">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        </div>
    {% endif %}
    {% endwith %}
    <div class="container mt-5">
        <h2>Register</h2>
        <form action="/register" method="POST">
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control") }}
            </div>
            <input type="hidden" name="token" value="{{ token }}">  <!-- Include the token value as a hidden input field -->
            {{ form.submit(class="btn btn-primary") }}
        </form>
        <a href="/login">If already register? Login here</a>
    </div>
</body>
</html>
